<!--#include virtual="/ssi/doctype.inc"-->
<title>{{ page.title }}</title>
<!--#include virtual="/cgi-bin/metabase"-->

<!-- CSS/jquery/MathJax -->
<link href="./assets/css/tw-bs.3.1.1.css" rel="stylesheet">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<!--#include virtual="/ssi/header.inc"-->

<div class="tw-bs">
  <div class="container">
    <div class="navbar navbar-default span10">
      <ul class="nav navbar-nav">
        <li id="main_page"><a href="index.html" class="navbar-brand">Machine Translation</a></li>
        <li id="syllabus"><a href="syllabus.html">Syllabus</a></li>
        <li id="hw1"><a href="hw1.html">Homework 1</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">
          {% if page.img_link %}<a href="{{ page.img_link }}">{% endif %} 
          <img src="assets/img/{{ page.img }}.jpg" class="img-responsive img-rounded" alt="{{ page.picture }}"/>
          {% if page.img_link %}</a>{% endif %} 
          <span class="text-muted"><i>{{ page.caption }}</i></span>
        </div>
        <div class="col-md-8">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#{{ page.active_tab }}").addClass("active");
  });
</script>

<!--#include virtual="/cgi-bin/locationbar"-->
<!--#include virtual="/ssi/footer.inc"-->
