<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  
  <link href="./assets/css/tw-bs.3.1.1.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  <script src="./assets/js/bootstrap.min.js"></script>
  
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <link href="http://www.inf.ed.ac.uk/styles.css" rel="stylesheet" type="text/css" >
  <link rel="icon" href="http://www.inf.ed.ac.uk/images/tinyi.ico" type="image/x-icon" >
  <link rel="shortcut icon" href="http://www.inf.ed.ac.uk/images/tinyi.ico" type="image/x-icon" >
</head>

<body bgcolor="#FFFFFF" >
  <div class="tw-bs">
    <div class="container">
      <div class="navbar navbar-default span10">
        <ul class="nav navbar-nav">
          <li id="main_page"><a href="index.html" class="navbar-brand">Machine Translation</a></li>
          <li id="syllabus"><a href="syllabus.html">Syllabus</a></li>
        </ul>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-2 hidden-sm hidden-xs">
            {% if page.img_link %}<a href="{{ page.img_link }}">{% endif %} 
            <img src="assets/img/{{ page.img }}.jpg" class="img-responsive img-rounded" alt="{{ page.picture }}"/>
            {% if page.img_link %}</a>{% endif %} 
            <span class="text-muted"><i>{{ page.caption }}</i></span>
          </div>
          <div class="col-md-8">
            {{ content }}
            <hr/>
            <div class="text-center text-muted">
              <small>
                Informatics Forum, 10 Crichton Street, Edinburgh, EH8 9AB, Scotland, UK<br>
                Tel: +44 131 651 5661, Fax: +44 131 651 1426, E-mail: 
                school-office@inf.ed.ac.uk<br>
                Please <a href="http://www.inf.ed.ac.uk/about/webmaster.html">contact our webadmin</a> with
                any comments or corrections. <a style="font-weight: bold" href="http://www.inf.ed.ac.uk/about/cookies.html">Logging and Cookies</a><br>
                Unless explicitly stated otherwise, all material is copyright &copy;
                The University of Edinburgh
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
<!--END:/ssi/footer.inc-->
<!--DOCUMENT ENDS-->

